#VISUAL STUDIO JUNK
#==================
*.sdf
*.user
*.suo
*.opensdf
*.sdf
*.autosave

#FOLDERS
#==================
Binaries/
Temp/
Source/GUI/GeneratedFiles/

#SAVED COMMAND HISTORY EXTENSION
#==================
*.uc
*.789

#TEMP FILES
#==================
*.BASE.cpp
*.LOCAL.cpp
*.REMOTE.cpp